.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-plus-square-o {
    width: 0.7861328125em;
}

.icon-menu{
	height: 1.5vw;
	width: 1.5vw;
}

.cursor-pointer{
	cursor: pointer;
}

.cursor-pointer:active{
	background: var(--active-background);
}

.circles{
    height: 8vw;
    width: 8vw;
}