:root{
    --font-size-16px: 16px;
    --display-flex: flex;
	--align-items-flex-start: flex-start;
	--gap-1vw: 1vw;
    --padding-0: 0;
    --dark-gray: #7B7D7D;
    --light-shade-of-grey: #ccc;
}

*{
	font-family: 'Roboto', sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}

/*.cursor-pointer:hover{
    background: #EBEDEF;
}*/

a{
    text-decoration: none;
}

.lateral-menu{
    font-size: 16px;
    list-style-type: none;
    padding: 18px;
}

.lateral-menu li{
    display: flex;
    border-radius: 9px;
}

.lateral-menu li:hover, 
#hamburguer-button:hover{
    background: #EBEDEF;
}

.lateral-menu li > a{
    width: 93%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
	gap: 1vw;
    padding: 0;
    margin-left: 12px;
    color: #000;
}

.lateral-bar-menus{
    width: 19vw;
    border-right: 1px solid var(--light-shade-of-grey);
}

#logo{
    padding: 3vw 0 0vw 3vh;
}

.instagram-logo{
    height: 6vh;
}

.icon {
    display: inline-block;
    width: 2vw;
    height: 4vh;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-top: 6px;
}

.icon-menu{
	height: 5vh;
	width: 3vw;
    margin-left: -7px;
}

.img-profile-menu{
    border-radius: 50%;
}

.margin-top-9 {
    margin-top: 9px;
}

.gap-0{
    gap: 0;
}

.width-icon{
    width: 2.4vw;
}

#hamburguer-button{
    width: 83%;
    height: 8vh;
    margin-left: 20px;
    border-radius: 9px;
}

#hamburguer-button a{
    display: flex;
	align-items: flex-start;
	gap: 1vw;
    padding: 0;
    width: 93%;
    flex-direction: row;
    margin-left: 12px;
    color: #000;
}

.notifications-messages{
    height: 1.3vw;
	width: 1.3vw;
	background: red;
    border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	margin-top: 3px;
	margin-left: 6px;
	color: white;
	font-size: 12px;
	font-weight: 500;
}

.notifications-messages span{
    display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 3px;
}

.bottom-menu{
    display: block;
    height: 40px;
}

/* parte principal*/
.main{
    position: absolute;
    top: 0;
    left: 19vw;
    width: 52vw;
}

/* menu lateral derecho */
.right-accounts{
    position: absolute;
    top: 0;
    right: 0;
    width: 29vw;
    background: white;
}

.suggested-accounts{
    margin-left: 5vw;
}

.size-img-profile{
    height: 6.5vh;
	width: 3.5vw;
}

.img-profile{
    margin-left: -1px;
    margin-top: -1px;
    border: 0.1px solid #D0D3D4;
}

.accounts-list{
    font-size: 14px;
    list-style-type: none;
    padding: 27px 0 0 0;
}

.accounts-list li{
    display: flex;
}

.accounts-list li > div{
    width: 92%;
    display: var(--display-flex);
    flex-direction: row;
    align-items: flex-start;
	gap: 1vw;
    padding: 0 0 10px 0;
    position: relative;
}

.position-username{
    margin-top: -7px;
}

/*.text-decoration-none{
    text-decoration: none;
}*/

.username{
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.name{
    position: absolute;
    top: 10px;
    left: 57px;
    color: var(--dark-gray);
}

.follow{
    color:rgb(0, 149, 246);/*#03A9F4;*/
    font-weight: 500;
}

.position-follow{
    margin-left: 82px;
}

.follow:hover{
    background: none;
    color: #00274d;/*#025eb3;*/
}

.suggested-for-you{
    flex-wrap: wrap;
    display: var(--display-flex);
    flex-direction: row;
    align-content: space-between;
    padding: 2px 0 2px 0;
    gap: 10.4vw;
    font-weight: 700;
}

.suggested-for-you p{
    color: var(--dark-gray);/*#ABB2B9;*/
}

.suggested-for-you a > p{
    color: #000;/*#ABB2B9;*/
}

.suggested-for-you a > p:hover{
    color: Silver;
}

.footer{
    font-size: 12px;
    color: #A6ACAF;
    margin-left: 5vw;
}

.footer p > a{
    /*text-decoration: none;*/
    color: #A6ACAF;
}

.footer p > a:hover{
    text-decoration: underline;
}

.footer p > span{
    font-size: 19px;
    position: relative;
    top: -2px;
}

.copyright{
    padding-top: 12px;
}

.for-you{
    border-bottom: 1px solid var(--light-shade-of-grey);
    width: 50vw;
    font-weight: 700;
    display: var(--display-flex);
    flex-direction: row;
    gap: 12px;
}

.for-you p{
    margin-top: 45px;
}

.for-you p:nth-child(2){
    color: #BDC3C7;
}

.stories{
    margin-top: 6px;
    margin-left: 2px;
    display: var(--display-flex);
    gap: 1vw;
}

.story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.story p{
    margin-top: 3px;
    font-size: 12px;
}

.size-colorful-border{
    height: 12vh;
    width: 6.8vw;
    padding: 4px;
}

.colorful-border{
    background: conic-gradient(
        from 180deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5,
        #4f5bd5,
        #962fbf,
        #d62976,
        #fa7e1e,
        #feda75
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-border{
    height: 11.6vh;
    width: 6.5vw;
    object-fit: cover;
    background: white;
    border: 3px solid white;
}

.circles{
    border-radius: 50%;
}

.stories img{
    height: 11.2vh;
    width: 6.3vw;
    border: 1px solid #D0D3D4;
    object-fit: cover;
}

.back-icon{
    transform: rotate(180deg);
    left: 1.5vw;
    display: none;
}

.next-back-controls{
    background: white;
    box-shadow: 0px 0px 5px #A6ACAF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 17vh;
}

.next-back-controls svg{
    height: 14px;
    width: 14px;
    opacity: 0.5;
}

.next-icon{
    right: 1.6vw;
}

.hidden {
    visibility: hidden;
}

.posts{
    width: 500px;
    margin-left: 75px;
    margin-top: 25px;
}

.post-header{
    height: 42px;
    display: flex;
    flex-direction: row;
    padding: 2px 0 2px 0;
    font-size: 14px;
    position: relative;
}

.size-colorful-border-post{
    height: 40px;
    width: 40px;
    margin-top: 2px;
}

.size-white-border-post{
    height: 30px;
    width: 30px;
}

.size-colorful-border-post img{
    height: 30px;
    width: 30px;
}

.post-header-text{
    display: flex;
    flex-direction: row;
    gap: 3px;
    margin-left: 10px;
    margin-top: -7px;
}

.points{
    font-size: 23px;
    font-weight: 700;
    margin-top: 5px;
    color: var(--dark-gray);
}

.more-options{
    margin-left: 255px;
}

.song-location{
    position: absolute;
    bottom: -8px;
    left: 50px;
    font-size: 13px;
}

.post{
    cursor: pointer;
    background: black;
}

video{
    width: 100%;
    height: 550px;
}

.icons-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.tags{
    margin-left: 10px;
}

.tags-bg{
    width: 25px;
    height: 25px;
    background: #1C1C1E;
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.icons-post svg{
    width: 16px;
    fill: white;
    color: white;
}

.volume svg{
    width: 14px;
}

.volume{
    right: 10px;
    align-content: center;
    position: absolute;
}

.icons-interactions{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-icons{
    width: 105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.likes{
    margin-top: 12px;
    width: 100%;
    height: 26px;
}

.img-like{
    height: 20px;
    width: 20px;
    position: absolute;
}

.img-like img{
    height: 20px;
    width: 20px;
}

.img-behind:nth-child(1){
    left: 100px;
}

.img-behind:nth-child(2){
    left: 88px;
}

.likes p{
    margin-top: 6px;
    margin-left: 55px;
    font-weight: 500;
}

.texts{
    font-size: 15px;
    text-align: justify;
    margin-top: 6px;
    border-bottom: 1px solid var(--dark-gray);
}

.description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

#show-more, 
.comments{
    margin: 0;
    color: var(--dark-gray);
}

#show-more{
    padding: 2px 0 2px 0;
}

.comments{
    padding: 4px 0 4px 0;
}

form{
    padding: 0px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#comment{
    width: 85%;
    border: none;
    resize: none;
}

#comment:focus{
    outline-width: 0;
}

.btn-post{
    border: none;
    background: transparent;
    font-weight: 700;
    color: rgb(0, 149, 246);
}

.emojis svg{
    height: 18px;
    width: 18px;
}

.search-form{
    height: 100%;
    width: 390px;
    position: absolute;
    border-radius: 0 15px 15px 0;
    border: 1px solid var(--light-shade-of-grey);
    top: -1px;
    left: 65px;
    background: white;
}